---

---

<html>
    <body>
        <div class="header">
            <a style="position: absolute; top: 35%; left: 42%" href="/">Главная</a>
            <a style="position: absolute; top: 35%; left: 34%" href="aboutMe">О мне</a>
            <a style="position: absolute; top: 35%; left: 50%" href="myProject">Мои проекты</a>
            <a style="position: absolute; top: 35%; left: 60%" href="fullCataloge">Полный каталог</a>
        </div>
    </body>

    <style>
        .header {
            position: absolute;
            width: 100%;
            height: 8%;
            background-color: rgb(35, 35, 35);
            top: 0;
            left: 0;
        }
        a {
            color: aliceblue;
            text-decoration: none;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
        a:hover {
            color: rgb(255, 195, 195);
            text-decoration: overline underline double;
        }
    </style>
</html>