---
import SiteHead from "./lyout/sieHeader.astro";
---

<html>
    <head>
        <meta charset="UTF-8">
        <title>О мне</title>
    </head>
  <body>
      <SiteHead></SiteHead>
  </body>
  <style>
    html, body {
      margin: 0;
      padding: 0;
      background-color: rgb(25, 25, 25);
    }
  </style>
</html>
