---
import type { GetStaticPaths } from "astro";

export const getStaticPaths = (() => {
  
  return [];
}) satisfies GetStaticPaths;
---

<html>
    <head>
        <meta charset="UTF-8">
    </head>
  <body>
      
  </body>
</html>
<style>
  h1 {
    color: brown;
  }
</style>