---
console.log('Это запускается в терминале, а не в браузере!');
import Header from "./lyout/sieHeader.astro";
---

<html>
    <head>
        <meta charset="UTF-8">

    </head>
  <body>
    <Header></Header>
    <h1>Привет, мир!</h1>
  </body>
</html>
<style>
  h1 {
    color: brown;
  }
</style>